In [47]:
import pandas as pd

gen = pd.read_csv('music_raw_data.csv')

In [48]:
gen.columns=['age','gender', 'genre']
gen.head()

   age  gender  genre
0    1       2      2
1    2       3      3
2    3       4      4
3    4       5      5
4    5       5      6

In [49]:
for i, x in gen.iterrows():
    if gen.loc[i, 'gender'] <= 15: # high
        gen.loc[i, 'gender'] =  gen.loc[i, 'gender'] + 15

gen.head()

   age  gender  genre
0    1      17      2
1    2      18      3
2    3      19      4
3    4      20      5
4    5      20      6

In [50]:
for i, x in gen.iterrows():
    if gen.loc[i, 'gender'] <= 35:
        gen.loc[i, 'gender'] = 1 #female
    else: # low
        gen.loc[i, 'gender'] = 0 #male

gen.head()

   age  gender  genre
0    1       1      2
1    2       1      3
2    3       1      4
3    4       1      5
4    5       1      6

In [51]:
for i, x in gen.iterrows():
    if gen.loc[i, 'gender'] == 1: # high
        gen.loc[i, 'gender'] = 'female' #female
    elif gen.loc[i, 'gender'] == 0: # low
        gen.loc[i, 'gender'] = 'male' #male

gen.head()

   age  gender  genre
0    1  female      2
1    2  female      3
2    3  female      4
3    4  female      5
4    5  female      6

In [52]:
for i, x in gen.iterrows():
    if gen.loc[i, 'age'] <= 15: # high
        gen.loc[i, 'age'] =  gen.loc[i, 'age'] + 15

gen.head()

   age  gender  genre
0   16  female      2
1   17  female      3
2   18  female      4
3   19  female      5
4   20  female      6

In [53]:
for i, x in gen.iterrows():
    if gen.loc[i, 'age'] >= 0  and gen.loc[i, 'age'] <= 20 : 
        gen.loc[i, 'genre'] = 'rock' 
    elif gen.loc[i, 'age'] >= 21  and gen.loc[i, 'age'] <= 40 and gen.loc[i, 'gender'] == 'female':
        gen.loc[i, 'genre'] = 'pop'   
    elif gen.loc[i, 'age'] >= 21  and gen.loc[i, 'age'] <= 40 and gen.loc[i, 'gender'] == 'male':
        gen.loc[i, 'genre'] = 'jazz' 
    elif gen.loc[i, 'age'] > 40 and gen.loc[i, 'gender'] == 'female':
        gen.loc[i, 'genre'] = 'ambient' 
    elif gen.loc[i, 'age'] > 40 and gen.loc[i, 'gender'] == 'male':
        gen.loc[i, 'genre'] = 'classical'

gen

     age  gender      genre
0     16  female       rock
1     17  female       rock
2     18  female       rock
3     19  female       rock
4     20  female       rock
5     21  female        pop
6     16  female       rock
7     16  female       rock
8     22  female        pop
9     16  female       rock
10    23  female        pop
11    24  female        pop
12    25  female        pop
13    26  female        pop
14    16  female       rock
15    16  female       rock
16    16  female       rock
17    16  female       rock
18    27  female        pop
19    21  female        pop
20    15  female       rock
21    16  female       rock
22    28  female        pop
23    29  female        pop
24    30  female        pop
25    16  female       rock
26    16  female       rock
27    16  female       rock
28    17  female       rock
29    18  female       rock
..   ...     ...        ...
109   47    male  classical
110   27    male       jazz
111   47  female    ambient
112   47    male  classical
113   47  female    ambient
114   15  female       rock
115   51    male  classical
116   21  female        pop
117   52    male  classical
118   52  female    ambient
119   53    male  classical
120   16    male       rock
121   54    male  classical
122   16  female       rock
123   55    male  classical
124   33    male       jazz
125   16  female       rock
126   56    male  classical
127   57  female    ambient
128   58    male  classical
129   21  female        pop
130   21  female        pop
131   20    male       rock
132   53    male  classical
133   59  female    ambient
134   60    male  classical
135   61    male  classical
136   16    male       rock
137   62  female    ambient
138   63  female    ambient

[139 rows x 3 columns]

In [54]:
gen.to_csv('music_data_preproc.csv', header=False, index=False)